RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L] 

AddType application/x-httpd-php .html

<IfModule mod_headers.c>
    SetEnvIf Origin "https?://(127\.0\.0\.1:3000|127\.0\.0\.1:5000|gulfmexicooilplatform\.com|localhost|127\.0\.0\.1)$" AccessControlAllowOrigin=$0
    Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
</IfModule>
